* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:white;
    font-family: Arial, sans-serif;
    background: black;
}

video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}
header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    border-bottom: 1px solid #ffffff40;
}

header h2 {
    font-size: 27px;
    letter-spacing: 2px;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover {
    color: #f2c66d;
}

main {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.top {
    color: #f2c66d;
    letter-spacing: 4px;
    font-size: 15px;
    margin-bottom: 25px;
}

h1 {
    font-family: Georgia, serif;
    font-size: 75px;
    font-weight: normal;
    line-height: 0.95;
}

h1 i {
    color: #f2c66d;
}

.text {
    width: 450px;
    line-height: 1.7;
    margin: 30px 0;
    color: #ddd;
}

.btn {
    display: inline-block;
    padding: 14px 25px;
    background: #f2c66d;
    color: black;
    text-decoration: none;
    border-radius: 25px;
}
.btn:hover {
    background: white;
}

@media(max-width: 700px) {
    nav {
        display: none;
    }
    main {
        padding: 100px 30px;
    }
    h1 {
        font-size: 55px;
    }
    .text {
        width: auto;
    }
}